spec: apex.axdl
config:
  name: {{.name}}
  package: {{.package}}
  module: {{.module}}
plugins:
  - 'https://raw.githubusercontent.com/nanobus/iota/main/codegen/src/tinygo/plugin.ts'
tasks:
  all > clean generate deps build:
  clean:
    - rm -Rf build
  deps:
    - go mod tidy
  build:
    - mkdir -p build
    - tinygo build -o build/{{.name}}.wasm --scheduler=none --target=wasi -no-debug cmd/main.go
  test:
    - go test --count=1 ./pkg/...
